DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!oxl*t-d#hvo-)%&&=p3fdp9&x9ub6r4ku-mzjyhg#k*$s9d#!4"
DJANGO_DATABASE_URL=sqlite:///sqlite.db

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root

DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com
